{% extends "base.html" %}
{% block content %}

<form method="post" action="/graph2d">
                <td></td>
                <td>
                    <select id="amount_coffee" name="amount_coffee">
                        <option value=0>1 zrnko</option>
                        <option value=1>2 zrnka</option>
                        <option value=2>3 zrnka</option>
                        <option value=3>4 zrnka</option>
                        <option value=4>5 zrnek</option>
                    </select> <i class="fa-solid fa-mug-saucer"></i>
                </td>


                <td>
                    <select id="amount_water" name="amount_water">
                        <option value=0>25 ml kávy</option>
                        <option value=1>50 ml kávy</option>
                        <option value=2>75 ml kávy</option>
                        <option value=3>100 ml kávy</option>
                    </select>
                    <i class="fa-solid fa-droplet"></i>
                </td>
                <td>
                    <select id="amount_clean_water" name="amount_clean_water">
                        <option value=0>0 ml vody</option>
                        <option value=1>25 ml vody</option>
                        <option value=2>50 ml vody</option>
                        <option value=3>75 ml vody</option>
                        <option value=4>100 ml vody</option>
                    </select>
                    <i class="fa-solid fa-droplet"></i>
                </td>

                    <input type="submit" value="Zobrazit">
            </form>




<h3>Graf podle množství zrnek kávy - {{info_param[0][info[0]]}}</h3>
<!--<form method="POST" action="/graph2d">-->
<!--    <div>-->
<!--        <input type="range" min="1" max="5" name="value_slider" oninput="rangeValue.innerText = this.value"/>-->
<!--        <p id="rangeValue">{{info[0]}}</p>-->
<!--        <input type="submit" value="Zobrazit"/>-->
<!--    </div>-->
<!--</form>-->
<div id='chart' class='chart2d' ”></div>
<h3>Graf podle množství kávové vody - {{info_param[1][info[1]]}} ml</h3>
<div id='chart2' class='chart2d' ”></div>
<h3>Graf podle množství čisté vody - {{info_param[2][info[2]]}} ml</h3>
<div id='chart3' class='chart2d' ”></div>


<!--</body>-->
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON[0] | safe}};
  var graphs2 = {{graphJSON[1] | safe}};
  var graphs3 = {{graphJSON[2] | safe}};
  Plotly.plot('chart',graphs,{});
  Plotly.plot('chart2',graphs2,{});
  Plotly.plot('chart3',graphs3,{});



</script>

<!--</html>-->


{% endblock %}