{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <h3>Ze získaných dat získáváme následující výsledky:</h3>
            <table rules=all>
                {% for i in range(delka_seznamu):%}
<!--                <h4>{{popisky[i]}} káva je: {{statistiky[i][0]}} zrnek kávy + {{statistiky[i][1]}}ml vody +-->
<!--                    {{statistiky[i][2]}}ml čisté vody | {{statistiky[i][3]}}<i class="fa-solid fa-star"></i></h4>-->

                <tr>

                    <td><h4>{{popisky[i]}} káva je:</h4></td>
                    <td><h4>{{statistiky[i][0]}} zrnek kávy</h4></td>
                    <td><h4>{{statistiky[i][1]}}ml vody</h4></td>
                    <td><h4>{{statistiky[i][2]}}ml čisté vody</h4></td>
                    <td><h4>{{statistiky[i][3]}}<i class="fa-solid fa-star"></i></h4></td>

                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>


{% endblock %}